.hero-section,
.menu-section,
.about-section,
.contact-section {
  position: relative;
  z-index: 1;
}

.ripped-paper-one {
  position: relative;
  z-index: 2;
  margin-top: -50px;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.ripped-paper-two {
  position: relative;
  z-index: 2;
  margin-bottom: -70px;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.ripped-paper-three {
  position: relative;
  z-index: 2;
  margin-top: -58px;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .ripped-paper-one {
    margin-top: -30px;
  }

  .ripped-paper-two {
    margin-bottom: -40px;
  }

  .ripped-paper-three {
    margin-top: -37px;
  }
}

@media (max-width: 576px) {
  .ripped-paper-one {
    margin-top: -15px;
  }

  .ripped-paper-two {
    margin-bottom: -22px;
  }

  .ripped-paper-three {
    margin-top: -19px;
  }
}
