.footer-section {
  position: relative;
  z-index: 1;
}

.ripped-paper-four {
  position: relative;
  z-index: 2;
  margin-bottom: -70px;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .ripped-paper-four {
    margin-bottom: -50px;
  }
}

@media (max-width: 576px) {
  .ripped-paper-four {
    margin-bottom: -20px;
  }
}
