body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 130, 17, 0.5); /* #FF8211 dengan transparansi */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 130, 17, 0.7); /* Lebih solid saat hover */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
